.hit {
  background-color: red;
  color: red;
}

.miss {
  background-color: white;
  color: white;
}

.empty {
  background-color: blue;
  color: blue;
}

table {
  text-align: center;
  vertical-align: middle;
}
